{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script>
        var myGlobal = {
            csrftoken: '{{csrf_token}}',
            url_new_post: "{% url 'new_post'%}",
            {% if user.is_authenticated %}
            user: '{{user}}'
            {% endif %}
        } 
    </script>
    <script type="module" src="{% static script %}"></script>
{% endblock %}

{% block user_info %}
{% endblock %}

{% block body %}

    <h2>{{title}}</h2>
    
    {% if user.is_authenticated %}
        <div id="new_post">
        </div>
    {% endif %}

    <div id="posts">
    </div>


{% endblock %}
