{% extends 'network/layout.html' %}
{% load static %}

{% block user_info %}
    <h2>{{viewed_user.username}}</h2>
    <div><p class="h6" id="followers">{{viewed_user.followers.count}} Followers</p></div>
    <div><p class="h6" id="following">{{viewed_user.following.count}} Following</p></div>
    {% if user.is_authenticated and viewed_user != user%}
        <button class="btn btn-primary" id="btn_follow">Follow</button>
    {% endif %}
    <hr>
{% endblock %}

{% block body%}
    <div id="user_posts">

    </div>
{% endblock%}

{% block script %}
    <script>
        var myGlobal = {
            {% if user.is_authenticated %}
            user: '{{user}}',
            {% endif %}
            viewedUser: '{{viewed_user.username}}',
            viewedUserId: '{{viewed_user.id}}'
        }
    </script>
    <script type="module" src="{% static 'network/user_page.js'%}"></script>
{% endblock %}